@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('../fonts/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('../fonts/raleway-semibold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* ===== HELPERS ===== */

/* --- FONTS --- */

.bold {
  font-family: 'ralewaybold';
}

.semibold {
  font-family: 'ralewaysemibold';
}

.medium {
  font-family: 'ralewaymedium';
}

.regular {
  font-family: 'ralewayregular';
}

.light {
  font-family: 'ralewaylight';
}
/* ===== END HELPERS ===== */

/* ===== GENERALS ===== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background: radial-gradient(circle at center, #434b6a 0%,#30364d 100%);
  color: #fff;
  font-family: 'ralewayregular';
  margin: 0;
  padding: 0;
  width: 100%;
}